build
workspace
production
screenshots
results
bin
assets/hard
assets/tet_meshes
.clangd
.cache
.idea
.vs
.vimrc
cmake-build-*
compile_commands.json
imgui.ini
CMakeSettings.json
CMakeCustomLists.txt
nul
hex.desktop
launch.sh
assets/more
screenshot.png
config.yml
